{% extends "base.html" %}
{% load staticfiles %}

{% block title %}

<title>Blog| Articles</title>

{% endblock %}

{% block ourMenu %}

	{% for article in ours %}

	<article class="rit-recent-item clear-left col-sm-4 col-md-4" id="p ">
	    <div class="rit-course-inner">
	        <div class="post-meta">
	            <h5><a href=" ">{{article.name}}</a></h5>
	        </div>

	        <div class="post-image clearfix">
	            <a href=" ">
	                <img width="370" height="250" src="{{article.image.url}}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 370px) 100vw, 370px">
	            </a>

	        </div>

	        <div class="post-info">
	            <div class="course-raise">
	                <span class="number-raise">
	                    {{article.caption}}
	                </span>
	            </div>
	        </div>
	    </div>
	</article>

	{% endfor %}

{% endblock %}


{% block content %}
<br>
<!-- Blov cintents -->

    <div class="container main-content">
        <div class="row">

        {% for article in articles %}

            <div class="col-md-3 col-sm-3 blog-post">
                
                <a class="wow fadeInDown" href="article/{{article.pk}}">
                
                    <img src="{{article.image.url}}" alt="" class="blog-post-image">

                    <h4 class="blog-post-title" align="center">
                        {{article.title}}
                    </h4>
                </a>
                <p align="center" class="date">{{article.date}}</p>

                <br>

                <p class="content wow fadeInUp">
                    {{article.body |truncatechars:200}}
                </p>

                

                <div class="row controls">
                    <div class="col-sm-3 col-xs-3 col-md-3 likes">
                        <span class="count">{{article.likes}} </span>
                        <i class="fa fa-thumbs-up"></i>
                    </div>

                    <div class="col-sm-3 col-xs-3 col-md-3 views">
                        <span class="count">{{article.views}} </span>
                        <i class="fa fa-newspaper-o"></i>
                    </div>

                    <div class="col-sm-3 col-xs-3 col-md-3 comments">
                        <span class="count">{{article.comments_count}} </span>
                        <i class="fa fa-comments"></i>
                    </div>

                    <div class="col-sm-3 col-xs-3 col-md-3 read">
                        <a href="article/{{article.pk}}"><i class="fa fa-ellipsis-v pull-right"></i></a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>



{% endblock %}