{% extends "base.html" %}
{% load staticfiles %}

{% block title %}

<title>{{article.title}}</title>

{% endblock %}

{% block ourMenu %}

	{% for article in ours %}

	<article class="rit-recent-item clear-left col-sm-4 col-md-4" id="p ">
	    <div class="rit-course-inner">
	        <div class="post-meta">
	            <h5><a href=" ">{{article.name}}</a></h5>
	        </div>

	        <div class="post-image clearfix">
	            <a href=" ">
	                <img width="370" height="250" src="{{article.image.url}}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 370px) 100vw, 370px">
	            </a>

	        </div>

	        <div class="post-info">
	            <div class="course-raise">
	                <span class="number-raise">
	                    {{article.caption}}
	                </span>
	            </div>
	        </div>
	    </div>
	</article>

	{% endfor %}

{% endblock %}


{% block content %}
<br>
<!-- POST DETAILS -->

<div class="container wow fadeInDown">
    <div class="row">
        <div class="col-md-12">
            <img class="post-image" src="{{article.image.url}}" alt="">
            <h4>{{article.title}}</h4>
            <br>
            {{article.body |safe}}
        </div>
    </div>
    <br>
    <!-- COMMENTS & LIKE SECTION -->
    <br>
    <div class="row wow fadeInUp" id="comli">
        <div class="col-sm-6 col-md-6">
            <h4 class="pull-left">Comments ({{num_comments}})</h4>

            <!-- LIKE -->

            <form action="like" id="like" method="POST"> {% csrf_token %}
                <input type="hidden" name="articleId" id="articleId" value="{{article.pk}}">
                <button type="submit" class="pull-right"><i class="fa fa-thumbs-up fa-2x"></i> ({{article.likes}})</button>
            </form>

            <br>
            <br>

            <!-- COMMENTS -->

            <ul>
            {% for item in comments %}
                <li>
                    <div>
                        <h5>{{item.by}}</h5>
                        <p>{{item.comment}}</p>
                    </div>
                </li>
            {% endfor %}
            </ul>

            <br><br>



            <h4>Add your comment</h4>
            <br>
            <form id="comment" class="comment" action="comment" role="form" method="POST">{% csrf_token %}
                <div class="form-group">
                    <input type="hidden" value="{{article.pk}}" name="refid" id="refid">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control no-border" name="name" id="name"
                    placeholder="Your name" required>
                </div>
                <br>

                <div class="form-group">
                    <textarea class="form-control no-border" name="comment" id="comment"
                    placeholder="Comment" required></textarea>
                </div>

                
                <button type="submit" class="rit-button rit-button-accent">Comment</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

