img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}




                
        body,
        input.newsletter-submit[type="submit"],
        #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link,
        #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link{
            font-family: "Hind";
        }

        #main-navigation{
            font-family: "Dosis";
        }

        .rit-heading,
        .site-footer .newsletter-submit,
        .feat-text .feat-title,
        .rit-element-title,
        .rit-tab-title,
        .style-3 .image-hover-inner .content h4,
        .selectBox-dropdown-menu.orderby-selectBox-dropdown-menu li a,
        .product-label,
        .price,
        a.button,
        .quantity #qty,
        .rit-product-details,
        .header-action .rit-drop-wrap,
        .search-wrap input[type="text"],
        .rit-text-button .rit-text,
        .tparrows.special span:before,
        .slicknav_nav a,
        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6,
        .rit-portfolio-masonry #rit-masonry-filter li,
        .rit-pagination a,
        .entry-action a,
        .testimonial-item .name,
        .rit-element-course .chart-content,
        .course-raise,
        .rit-course-boxed .course-percent-progress span,
        .link{
            font-family: "Dosis";
        }

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 24px;
        }

        h4 {
            font-size: 22px;
        }

        h5 {
            font-size: 20px;
        }

        h6 {
            font-size: 18px;
        }

                .accent, .accent-color,
        .content-grid .entry-title a:hover,
        .rit-full-layout .info-cat a,
        .icon-thumbnail i,
        .rit-button-white,
        .header-white #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:hover,
        .is-sticky .header-light #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:hover,
        .header-light .header-action-2 .rit-button,
        .slider-boxed .feat-cat a,
        .article-meta .post-cat a,
        .article-meta .author-link,
        .article-meta .post-comment a:hover,
        .single-content .entry-content a,
        .tweet-list li a,
        .tweet-list li span,
        .rit-news-inner .readmore a:hover,
        .rit-button-light-accent,
        .rit-element-course .chart-content,
        .raise,
        #mega-menu-wrap-primary #mega-menu-primary .rit-element-course .rit-recent-item h5 a:hover,
        #mega-menu-wrap-primary #mega-menu-primary div.see-more a:hover,
        .menu-mobile .rit-recent-item a:hover,
        .woocommerce .woocommerce-message::before,
        .woocommerce .woocommerce-info::before,
        .rit-icon-box-inner:hover .icon i{
            color: #32ae8b;
        }
                .se-pre-con .loader::before{
            border-color: #32ae8b rgba(50, 174, 139, 0.2) rgba(50, 174, 139, 0.2);
        }
        .rit-full-layout .info-cat a,
        .rit-button-light-accent,
        .entry-action a:hover,
        .single-content .entry-content a,
        .tparrows.rit-navigation:hover,
        .rit-news-inner .readmore a:hover,
        .comment-form input[type="text"]:focus,
        .comment-form input[type="email"]:focus,
        .comment-form input[type="url"]:focus,
        .comment-form textarea:focus,
        .woocommerce .woocommerce-message,
        .woocommerce .woocommerce-info,
        .woocommerce form .form-row.woocommerce-validated .select2-container,
        .woocommerce form .form-row.woocommerce-validated input.input-text,
        .woocommerce form .form-row.woocommerce-validated select,
        .rit-icon-box-item .icon{
            border-color: #32ae8b !important;
        }
        .rit-icon-box-item .icon:before{
            border-color: transparent transparent #32ae8b transparent;
        }
        .rit-course-boxed .course-percent-progress span:before{
            border-color: #32ae8b transparent transparent transparent;
        }
        .charitable-form-field .button-primary,
        .rit-button-light-accent:hover,
        .product-label.label-sale,
        .rit-button-accent,
        .site-footer .newsletter-submit,
        .layout-vertical .rit-icon-box-item .icon,
        .contact-section i,
        .post-related h5:after,
        .comments h5:after,
        .comment-respond h3:after,
        button,
        input[type="button"],
        input[type="reset"],
        input[type="submit"],
        .tparrows.rit-navigation:hover,
        .rit-navigation .tp-bullet,
        .vc_tta.vc_general .rit-accordion.vc_active .vc_tta-panel-title > a,
        .rit-icon-box-item .icon,
        .owl-theme .owl-controls .owl-page span,
        .style-boxed .rit-icon-box-item .icon,
        .widget-title:after,
        .rit-pagination .current,
        .rit-pagination li:hover,
        blockquote:before,
        .comment-meta-actions a:hover,
        .rit-course-boxed .course-percent-progress,
        .rit-course-boxed .course-percent-progress span,
        .rit-course-boxed .course-percent-progress:after,
        #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link::after,
        .pagination span.current, .pagination a:hover,
        .woocommerce .widget_price_filter .ui-slider .ui-slider-range,
        .woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
        .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
        .woocommerce span.onsale,
        .woocommerce nav.woocommerce-pagination ul li a:focus,
        .woocommerce nav.woocommerce-pagination ul li a:hover,
        .woocommerce nav.woocommerce-pagination ul li span.current,
        .woocommerce div.product .woocommerce-tabs ul.tabs li.active{
            background-color: #32ae8b        }
        .bg-accent{
            background-color: #32ae8b !important;
        }
        .slider-boxed .feat-overlay .feat-cat{ border-bottom: 1px solid #32ae8b; }
        a,
        .article-meta .post-cat a:hover,
        .article-meta .author-link:hover,
        .post-author h5 a:hover{ color: #666666; }
        a:hover{ color: #32ae8b; }
        h1{ color: #333333; }
        h2, h2 a{ color: #333333; }
        h3{ color: #333333; }
        h4{ color: #333333; }
        h5{ color: #333333; }
        h6{ color: #333333; }

                body, .entry-content p, .entry-content li{
            color: #666666;
        }
        body{
            font-size: 14px;
            line-height: 24px;
            background-color: #ffffff;
                    }
        #content{
            background-color: transparent;
                }
        .layout-vertical .rit-icon-box-item .icon{
            border-color: #ffffff;;
        }

                        #header-top{
            background-color: #f9f9f9;
            color: #333333;
        }
                .rit-search .search-field{
            color: #333333;
        }
        #header-top .rit-search .search-field,
        #header-top .rit-search .search-field:-ms-input-placeholder,
        #header-top .rit-search .search-field::-webkit-input-placeholder,
        #header-top .rit-search .search-field::-moz-placeholder{
            color: #333333;
        }
        #header-top a{
            color: #666666;
        }
        #header-top a:hover{
            color: #32ae8b;
        }

                        .header-inner{
            min-height: 87px;
            height: 87px;
        }
        .site-header{
            color: #353535;
        }
                .site-header, #sticker{
            background-color: #ffffff;
        }
                        .site-header a, .menu-wrap i, .menu-toggle i{ color: #ffffff; }
        .site-header a:hover{ color: #ffffff; }
        .site-header .header-action{
            padding-top: 23.5px;
        }
        #main-navigation #menu-main-menu > li > a, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link, #main-navigation .menu > ul > li > a{ line-height: 87px }
        #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link, #main-navigation .menu > ul > li > a{ height: 87px }

                #main-navigation{
            background-color: transparent;
            color: #ffffff;
        }
                #main-navigation li a{
            font-size: 14px;
            color: #333333        }
                #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link{
            color: #333333;
        }
        .slicknav_btn .slicknav_icon-bar{
            background-color: #333333;
        }
                        #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link,
        #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-link,
        #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-toggle-on > a.mega-menu-link,
        #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:hover,
        #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:focus,
        #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:hover,
        #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:focus,
        #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover,
        #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus,
        #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:hover,
        #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:focus{
            color: #32ae8b        }
        #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu{
            border-color: #32ae8b;
        }
                #main-navigation li a:hover, #main-navigation li.current-menu-item a{
            color: #32ae8b        }
        #main-navigation .sub-menu,
        #main-navigation .children{
            background-color: #32ae8b;
        }
        #main-navigation .sub-menu li a,
        #main-navigation .children li a{
            color: #ffffff        }
        #main-navigation .sub-menu li a:hover,
        #main-navigation .children li a:hover{
            color: #ffffff        }

                        #logo, #logo-retina{
            padding-top: 32px;
            padding-bottom: 0px;
        }
        .slicknav_btn{
            margin-top: 36px;;
        }


                .breadcrumbs,
        .woocommerce-breadcrumb{
            background-color: #f7f8fa;
            color: #252525;
        }
        .breadcrumbs a,
        .woocommerce .woocommerce-breadcrumb,
        .woocommerce .woocommerce-breadcrumb a{
            color: #252525;
        }
        .breadcrumbs a:hover,
        .woocommerce-breadcrumb a:hover{
            color: #32ae8b;
        }
        .breadcrumbs .separator,
        .woocommerce-breadcrumb i{
            color: #999999;
        }

                #footer-top{
            background-color: #202020;
        }
        #footer-top,
        #footer-top .widget-title{
            color: #ffffff;
        }
        #footer-top a{
            color: #666666;
        }
        #footer-top a:hover{
            color: #32ae8b;
        }
                #footer-center{
            background-color: #202020;
        }
        #footer-center .widget-title,
        .site-footer .newsletter-email,
        #footer-center{
            color: #ffffff;
        }
        #footer-center a{
            color: #666666;
        }
        #footer-center a:hover{
            color: #32ae8b;
        }

                        #coppy-right{
            background-color: #202020;
            color: #5c5c5c;
        }
        #coppy-right a{ color: #5c5c5c; }
        .site-footer .rit-social ul li a{ border-color: #5c5c5c; }
        #coppy-right a:hover, #coppy-right p i{ color: #32ae8b; }
        .site-footer .rit-social ul li a:hover{
            border-color: #32ae8b;
        }


.mega-posts
{
	width: 100%;
	background-color: red;
}

.mega-posts article
{
	float: left;
	display: inline;
}
