#sticker
{
	border-bottom: 2px solid #e9e8e8;
}

#main-navigation
{
	font-family: Calibri;
	color: red;
}

#masthead
{
	margin-bottom: 1px;
}

.main-content
{
	margin-bottom: 50px;

}
.blog-post
{
	background-color: #f9f9f9;
	margin-top: 20px;
	box-shadow: 0px 5px 10px 2px #888888;
}

.blog-post:hover
{
	background-color: #e9e8e8;
}
.blog-post-title
{
	color: #32ae8b;
	margin-top: 10px;
}

.blog-post-image
{
	border: 5px solid white;
	margin-top: 10px;
}

.count
{
	color: #32ae8b;
	font-weight: bold;
}

.carousel-caption
{
	font-style: Dosis-Regular;
}

.carou-btn
{
	color: white;
	height: 40px;
	width: 40px;
	text-align: center;
	margin-top: 0px;
	opacity: 100%;
}

.clickable
{
	cursor: pointer;
}

.panel-heading
{
	border-radius: 0px;
	background-color: #32ae8b;
	color: white;
	width: 100%;
}

.panel-color
{
	border: 1px solid #32ae8b;
	position: relative;
	z-index: 999;
}

.for-panel
{
	background-color: #f0f3f8;
	width: 100%;
	position: relative;
}


.panel-list li
{
	list-style: none;
}




p
{
	font-family: Dosis;
}

.iframe-panel
{
	height: 480px;
	width: 100%;
}

.read-more
{
	color: #4297bf;
}

.blue
{
	color: #4297bf;
}

.dark
{
	background-color: black;
	width: 100%;
	height: 300px;
}

.message
{
	font-size: 30px;
	text-align: center;
}

.message-by
{
	color: white;
}
.mess-quo
{
	color: white;
	width: 95%;
	margin: 80px auto auto auto;
}

.colored-bg
{
	background-color: #f0f3f8;
	width: 100%;
}

.icon-about
{
	height: 80px;
	width: 80px;
	position: absolute;
	left: 50%;
	margin-left: -40px;
	margin-top: 40px;

}

.not-full
{
	width: 95%;
}

.absolute-icon
{
	margin-top: 80px;
	background-color: white;
}

.no-border
{
	border-top: none;
	border-left: none;
	border-right: none;
	box-shadow: none;
}

.no-border:focus
{
	border-top: none;
	border-left: none;
	border-right: none;
	box-shadow: none;
}

.no-border:active
{
	border-top: none;
	border-left: none;
	border-right: none;
	box-shadow: none;
}

.no-list-style
{
	list-style: none;
}

#main-navigation-mobile
{
	display: block;
}

.icon-bar
{
	color: black;
}

.mob-menu
{
	background-color: black;
	margin-top: 87px;
}

.mob-menu li
{
	text-align: center;
	list-style: none;
}

.puller
{
	margin-right: 10px;
}

.carousel-caption h4
{
	color: white;
}
@media only screen and (max-width: 767px){
	.row-panels-half
	{
		width: 100%;
		position: relative;
		float: left;
	}

	.panels-media
	{
		float: left;
		position: relative;
		width: 100%;
	}

	.icon-about
	{
		margin-top: -40px;

	}

}

@media only screen and (max-width: 479px){
	.mess-quo
	{
		color: white;
		width: 95%;
		margin: 20px auto auto auto;
	}

	.message
	{
		font-size: 20px;
		text-align: center;
	}

	.iframe-panel
	{
		height: 240px;
		width: 100%;
	}

}